*:focus {
  outline: none !important;
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
     -moz-box-shadow: none !important;
}

body {
	background-color: #B64926;
	font-family: 'Raleway', sans-serif !important ;
}

#name, #inout {
	background: #FFF0A5;
    width: 33.3vw;
    color: #8E2800;
    font-weight: 600;
    padding: 20px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 2px;
    -webkit-appearance: none;
}

#inout {
	width: 10vw;
}

#name:hover, #inout:hover {
	cursor: pointer;
}

#container {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit {
	background: #FFF0A5;
    color: #8E2800;
    font-weight: 600;
    padding: 20px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 2px;
    -webkit-appearance: none;
}

#submit:hover {
	cursor: pointer;
	background: #FFF088;
	transition: all 0.2s ease;
}

#wrap {
	height: 100%;
	width: 100%;
	position: fixed;
}

@media (max-width: 1013px) {
	#name, #inout, #submit {
		width: 80vw;
		text-align: left;
	}
	#inout, #submit {
		margin-top: 30px;
	}
}