body {
	background-color: #B64926;
}
select {
   margin: 50px;
    border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: no-repeat #eee;
} 
form {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}